@model ResetPWDVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reset Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg" style="background:url(../../Images/cos1.jpg)  no-repeat; background-size:cover">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-7">
                <div class="ibox-content">
                    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @id = "frmReset" }))
                    {

                        @Html.HiddenFor(s => s.UniqueCode)
                        @Html.HiddenFor(s => s.Mobile)

                        <div class="form-group text-center">
                            <h4 class="title">Reset your password</h4>
                        </div>

                        <br />

                        <div class="form-group">
                            <label>Enter OTP</label>
                            @Html.TextBoxFor(s => s.OTP, new { @class = "form-control", @placeholder = "Enter Yor OTP" })
                        </div>


                        <div class="form-group">
                            <label>Enter New Password</label>
                            @Html.PasswordFor(s => s.Password, new { @class = "form-control", @placeholder = "Enter New Password" })
                        </div>

                        <div class="form-group">
                            <label>Confirm Password</label>
                            @Html.Password("RePassword", null, new { @class = "form-control", @placeholder = "Confirm Password" })
                        </div>

                        <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>

                        <a>
                            <p class="text-center">
                                <i class="fa fa-backward"></i> Back to Home
                            </p>
                        </a>

                    }
                </div>


            </div>
        </div>

        <div class="col-md-5">


        </div>


        <div class="row">
            <div class="col-md-6 text-white text-center" style="font-size:16px;">
                <hr />
                <b>
                    Copyright &copy; 2016 | <a href="https://riowebs.com/" style="color:white">Riowebs</a>
                </b>
            </div>
            <div class="col-md-6 text-right">

            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            //code for after loading process
            $("#frmReset").validate({
                rules: {
                    OTP: {
                        required: true,
                        minlength: '6',
                        maxlength: '6',
                        number: true
                    },
                    Password: {
                        required: true,
                        minlength: '6',
                        maxlength: '50',

                    },
                    RePassword: {
                        required: true,
                        equalTo: '#Password'
                    }
                }
            });

        });
    </script>
</body>

</html>